body {
    background-color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 64px;
    text-align: center;
}

h3 {
    background-color: #ffe44c43;
    font-weight: 600;
    color: cadetblue;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
